In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('photo_labels_final.csv', index_col=0)
df.head()

                       label    set
photo_id
vhnZ58_1shy9HNVdZgtMLw  food  train
u7Tt1nvclYNoq3UOToP-GA  food  train
53pzxyvIsft9N42cNIqQAA  food  train
tifGkvHf-BpdWMhQ8XlRzw  food  train
ZlM0GYwJPxMxJFPDiLYPOg  food  train

In [6]:
df = df[df.set != 'test']
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 240992 entries, vhnZ58_1shy9HNVdZgtMLw to mSJF4IRa2XT4OT4HromSUQ
Data columns (total 2 columns):
label    240992 non-null object
set      240992 non-null object
dtypes: object(2)
memory usage: 5.5+ MB

In [7]:
df.label.value_counts()

food       158035
inside      52971
outside     19909
drink        8899
menu         1178
Name: label, dtype: int64